{% extends "base.html" %} {% block title %}Home - Ashish Pal's Portfolio{%
endblock %} {% block content %}
<header id="home">
  <span class="span2">Hey it's <br /><span>ASHU</span> </span><br /><br />
  <span class="span1"
    >I'm a&nbsp;<br />
    <span
      >WEB & ANDROID&nbsp;<br />
      DEVELOPER&nbsp;</span
    ></span
  >
</header>
<div class="grid">
  <div class="grid-item1">
    <h3>
      Problem <br />
      Solving <br />Skills
    </h3>
  </div>
  <div class="grid-item2">
    <h1>3</h1>
    Internship's
  </div>
  <div class="grid-item3">
    <h1>6</h1>
    Projects
  </div>
  <div class="grid-item4">
    <h1>2.5</h1>
    <sub>Years of</sub> Development <br />
    Experience
  </div>
  <div class="grid-item5">
    <h2>Reach Me Out</h2>
    <div class="social-links">
      <a href="" class="links" target="_blank"><img src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000" alt="" loading="lazy" />Instagram</a>
      <a href="" class="links" target="_blank"><img src="https://img.icons8.com/?size=100&id=447&format=png&color=000000" alt="" loading="lazy"/>Linkidin</a>
      <a href="" class="links" target="_blank"><img src="https://img.icons8.com/?size=100&id=v551nqGeHhGn&format=png&color=000000" alt="" loading="lazy"/>GitHub</a>
      <a href="" class="links" target="_blank"><img src="https://img.icons8.com/?size=100&id=fJp7hepMryiw&format=png&color=000000" alt="" loading="lazy"/>Twitter</a>
      <a href="" class="links" target="_blank"><img src="https://img.icons8.com/?size=100&id=rUgzXdXFnhmg&format=png&color=000000" alt="" loading="lazy"/>G-Mail</a>
    </div>
  </div>
  <div class="grid-item6">
    <h2>Explore My Work</h2>
    <br />
    <a href="#">View all ></a><br />
    <a href="#" class="resume">RESUME</a>
  </div>
  <div class="grid-item7">
    <h2>
      Experience's <br />
      & <br />
      Gallery
    </h2>
    <br />
    <a href="#">Let's Go ></a>
  </div>
</div>
<section id="about" class="about">
  <h2>About Me</h2>
  <div>

  <p>
    I’m Ashish Pal, a <strong>Web & Android Developer</strong>   and DevOps Engineer   with expertise in Flask, Socket.IO, and Docker. I specialize in crafting dynamic web solutions and efficient Android applications.
<br><br>
Skills:
<br>
Web Development: Building scalable applications with Flask. <br>
Real-time Communication: Implementing interactive features using Socket.IO. <br>
Containerization: Streamlining workflows with Docker. <br><br>
I’m dedicated to delivering high-quality solutions and solving real-world problems through innovative technology. When I’m not coding, I enjoy exploring tech trends and contributing to open-source projects.
  </p>
</div>

</section>
<section id="tech" class="tech">
  <h2>Tech Skills</h2>
  <div class="tech-grid">
      <div class="item"><img src="https://img.icons8.com/?size=100&id=23028&format=png&color=000000" alt="">HTML5</div>
      <div class="item"><img src="https://img.icons8.com/?size=100&id=38272&format=png&color=000000" alt="">CSS</div>
      <div class="item"><img src="https://img.icons8.com/?size=100&id=ldQqWiIRv9bc&format=png&color=000000" alt=""> Bootstrap</div>
      <div class="item"><img src="https://img.icons8.com/?size=100&id=106036&format=png&color=000000" alt="">Javascript</div>
      <div class="item"><img src="https://img.icons8.com/?size=100&id=12592&format=png&color=000000" alt="">Python</div>
      <div class="item"><img src="https://img.icons8.com/?size=100&id=2572&format=png&color=000000" alt="">Java</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=11138&format=png&color=000000" alt=""> Android</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=b4QZVNBUVN5l&format=png&color=000000" alt="">Flask</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=f34HG4w9RjQk&format=png&color=000000" alt="">MySql</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=yjSayFwWHyCo&format=png&color=000000" alt="">SQLite</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=12599&format=png&color=000000" alt=""> GitHub</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=SNeRmWiOLnK7&format=png&color=000000" alt="">Vs Code</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=22801&format=png&color=000000" alt="">Docker</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=38796&format=png&color=000000" alt="">Linux</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=amXjtNWVYSKP&format=png&color=000000" alt="">Figma</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=38389&format=png&color=000000" alt="">Git</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=10250&format=png&color=000000" alt="">Terminal</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=21893&format=png&color=000000" alt="">API</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=2897&format=png&color=000000" alt="">Google Cloud</div>
    <div class="item"><img src="https://img.icons8.com/?size=100&id=5pr1cz6sq9qI&format=png&color=000000" alt="">Firebase</div>
  



</div>
</section>
<section id="education" class="education">
  <h2>Education</h2>

  <div class="education-grid">
    <div class="item">
      <h3>2022 - Present</h3>
      <p>
        Currently Pursuing my Bachelors in Computer Science and Engineering from
        N.I.E.T
      </p>
    </div>
    <div class="item">
      <h3>2022</h3>
      <p>Intermediate from K.C International School with 69%age.</p>
    </div>
    <div class="item">
      <h3>2020</h3>
      <p>High School from K.C International School with 75%age.</p>
    </div>
  
</div>
  <!-- <p>
    2022 - Present: Currently Pursuing my Bachelors in Computer Science and
    Engineering from N.I.E.T
  </p>
  <p>2022: Intermediate from K.C International School with 69%age.</p>
  <p>2020: High School from K.C International School with 75%age.</p> -->
</section>
{% endblock %}
